	<!-- contato -->
	<section id="contact" class="feature-contact">
			<div id="contact-content">
				<div class="container">
					<div class="row">
						<div class="col-md-12 cabecalho">
							<h2>fale conosco!</h2>
							<p>Entre em contato através do formulário abaixo ou através do e-mail</p>
							<p><strong>exemplo@rafaelatillier.com.br</strong></p>
						</div>
						<div class="cl-md-12">
							<form class="input-group col-md-12" action="/landing_PT" method="">
								<div class="col-md-6">
									<input id="usuario" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
									<input id="email" type="e-mail" class="form-control" placeholder="e-mail" aria-describedby="basic-addon1">
								</div>
								<div class="col-md-6">
									<input id="menssagem" type="text" class="form-control message" placeholder="message" aria-describedby="basic-addon1">
									<a href="/landing_PT" class="btn btn-lg btn-success btn-custom-CBG">enviar</a>
								</div>
							</form>	
						</div>							
					</div>
					<!-- input form contact-->
					
					<!-- input-group -->
					
				    <!-- /input-group -->
					
					<!--social media -->
					<div>
						<div class="col-md-12">
							<ul id="social-media">
								<li><a href="https://www.facebook.com/rafaela.tillier"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
						        <li><a href="https://www.instagram.com/rafaelatillier_naturopathe/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						        <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
						        <li><a href="https://twitter.com/RafaelaTillier"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
						</div>	
					</div>
				</div>	
			</div>
		</section>

	<!-- Credits -->
	<div>
		<div id="credits">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xm-12">
						<ul class="credits">
							<li><strong>Imagens:</strong></li>
							<li>Bucão</li>
							<li><strong>Texto</strong></li> 
							<li>Rafaela Tillier</li>
							<li><strong>Revisão</strong></li>
							<li>Refaela Tillier</li>
							<li>Eduardo Rocha</li>
							<li><strong>Design</strong></li>
							<li>Eduardo Rocha</li>
							<li><strong>Desenvolvimento</strong></li>
							<li>Eduardo Rocha</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 col-xm-12">
						<ul class="credits">
							<li>Street of the nature,
							Paris, France.
							000-00-000</li>
							<li>myemail@myemail.com.br</li>
							<li>whatsapp</li>
							<li>+ 00 00 0 0000-0000</li>
							<li>Oficial Pages</li>
							<li>Fb.com/myfacebookpage</li>
							<li>Yt.com/myyoutubechanel</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 col-xm-12">
						<ul class="credits">
							<li><img src="img/logo/logoVC.png" alt=""></li>
							<li>www.rafaelatillier.com.br</li>
							<li>Social mídias:</li>
							<li>@mypinterest</li>
							<li>@mytwitter</li>
							<li>@mysnapchat</li>
							<li>@myYouTubeC</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 col-xm-12">
						<ul class="credits">
							<li>Partness:</li>
							<li>bucao.com</li>
							<li>imkto.com</li>
							<li>eddiestudio42</li>
							<li>Apoio:</li>
							<li>X</li>
							<li>Y</li>
							<li>Z</li>
						</ul>
					</div>	
				</div>
			</div>
		</div>	
	</div>
 	<script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>