<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Rafaela Tillier</title>
	<!-- Library -->
		<!-- bootstrap -->
	    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	    <!-- fontAwesome -->
	    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	    <!-- Google fonts -->
	    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
	<!-- custom css-->
	    <link href="../public/css/stylesheets.css" rel="stylesheet">
	    <link href="../public/css/navbar.css" rel="stylesheet">
	<!--     <link rel="stylesheet" href="public/css/landing.css"> -->
  </head>
  <body>
	<!-- Navbar - -->
	<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="index.html">
	        <img id="brandIconNavBar" alt="Brand" src="../public/img/logo/logoHW.png">
	      </a>
	      </a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
	        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
	        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">home</a></li>
	        <li class="dropdown">
	        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">sobre<span class="caret"></span></a>
	        	<ul class="dropdown-menu">
	        		<li><a href="">quem sou</a></li>
	        		<li><a href="">natuterapia</a></li>
	        		<li><a href="">pra quem?</a></li>
	        	</ul>
	        </li>
	        <li><a href="#">serviços</a></li>
	        <li><a href="#">blog</a></li>
	        <li><a href="#">contato</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	</div>