<% include ./partials/header %>
<div id="FeaturedM">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h1>blog</h1>
				<p>teste - include</p>
			</div>
			<div class="col-md-3">
				<h1>blog</h1>
				<p>teste - include</p>
			</div>
			<div class="col-md-3">
				<h1>blog</h1>
				<p>teste - include</p>
			</div>
			<div class="col-md-3">
				<h1>blog</h1>
				<p>teste - include</p>
			</div>
			<div class="col-md-9">
				<h2>Teste 2</h2>
			</div>
			<div class="col-md-3">
				<h1>blog</h1>
				<p>teste - include</p>
			</div>
		</div>
	</div>	
</div>


<% include ./partials/header%>