<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Rafaela Tillier</title>
	<!-- Library -->
		<!-- bootstrap -->
	    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	    <!-- fontAwesome -->
	    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	    <!-- Google fonts -->
	    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
	<!-- custom css-->
	    <link href="public/css/stylesheets.css" rel="stylesheet">
	    <link href="public/css/navbar.css" rel="stylesheet">
	<!--     <link rel="stylesheet" href="public/css/landing.css"> -->
  </head>
  <body>
	<!-- Navbar - -->
	<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="index.html">
	        <img id="brandIconNavBar" alt="Brand" src="public/img/logo/logoHW.png">
	      </a>
	      </a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
	        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
	        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">home</a></li>
	        <li class="dropdown">
	        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">sobre <span class="caret"></span></a>
	        	<ul class="dropdown-menu">
	        		<li><a href="">quem Sou</a></li>
	        		<li><a href="">natuterapia</a></li>
	        		<li><a href="">pra quem?</a></li>
	        	</ul>
	        </li>
	        <li><a href="#">serviços</a></li>
	        <li><a href="#">blog</a></li>
	        <li><a href="#">contato</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	</div>

	<!-- Cabeçalho do Site -->
		<div id="stage">
			<div id="stage-caption">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xm-6">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xm-6">
						<h1 class="display-3">Chamada para o público</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<a href="" class="btn btn-lg btn-success btn-custom-CBG">saiba mais</a>
						</div>
					</div>
			</div>
		</div>
	<!-- Faixa de separação -->
	<hr>
	<!-- About Seção-->
		<section id="feature-one">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="feature-content">
							<img src="public/img/sobre/aboutPicture.png" alt="">
							<h2>Sobre Mim</h2>
							<p class="col-lg-6 col-lg-offset-3 info">Naturopata diplomada pelo IFSH- Institut Français des Sciences de l'Homme em Paris. Hoje, Palestrante, especializada em  auriculoterapia e reflexologia podal, além de, empreendedora, Rafaela Tillier te convida a cuidar da sua saúde com o auxílio da natureza.</p>
							<button href="" class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 btn-lg btn-success">Saiba Mais</button>
							<img id="brand-mark" class="col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5" alt="Brand" src="public/img/logo/logoVC.png">
							<p class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">2017 todos os direitos reservados</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- Faixa de separação -->
	<hr>
	<!--  services -->
		<section id="feature-two" class="feature-dark">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 feature caption">
						<h6></h6>
						<h2></h2>
						<p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda ipsam, rem fugit accusantium fugiat ea labore quam impedit, praesentium quisquam. Quia quam, et accusantium labore eius est accusamus perferendis.</p>
						<button href="" class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 btn-lg btn-success">Saiba Mais</button>
					</div>
					<div class="col-lg-6 text-sm-center hidden-sm-down">
						<img src="public/img/services/markus-spiske-139525.jpg" alt="">
					</div>
			</div>
		</section>	
	<!-- Serviços-->
	
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>