<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Rafaela Tillier</title>
	<!-- Library -->
		<!-- bootstrap -->
	    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	    <!-- fontAwesome -->
	    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	    <!-- Google fonts -->
	    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
	<!-- custom css-->
	    <link href="css/stylesheets.css" rel="stylesheet">
	    <link href="css/navbar.css" rel="stylesheet">
	<!--     <link rel="stylesheet" href="public/css/landing.css"> -->
  </head>
  <body>
	<!-- Navbar - -->
	<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="index.html">
	        <img id="brandIconNavBar" alt="Brand" src="img/logo/logoHW.png">
	      </a>
	      </a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
	        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
	        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">home</a></li>
	        <li class="dropdown">
	        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">sobre<span class="caret"></span></a>
	        	<ul class="dropdown-menu">
	        		<li><a href="">quem sou</a></li>
	        		<li><a href="">natuterapia</a></li>
	        		<li><a href="">pra quem?</a></li>
	        	</ul>
	        </li>
	        <li><a href="#">serviços</a></li>
	        <li><a href="#">blog</a></li>
	        <li><a href="#">contato</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	</div>

	<!-- Cabeçalho do Site -->
		<div id="stage">
			<div id="stage-caption">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xm-6">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xm-6">
						<h1 class="display-3">Chamada para o público</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<a href="" class="btn btn-lg btn-primary btn-custom-ch">saiba mais</a>
						</div>
					</div>
			</div>
		</div>
	<!-- Faixa de separação -->
	<hr>
	<!-- About Seção-->
		<section id="feature-one">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="feature-content text-center center-block">
							<img src="img/sobre/aboutPicture.png" alt="">
							<h2>Sobre Mim</h2>
							<p class="center-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam et est obcaecati, placeat expedita architecto tempora hic, repellat distinctio impedit, repudiandae harum blanditiis magni sint dicta veniam corporis dolorum ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum in dolor dolore quaerat nemo rerum facere possimus ex eligendi. Corporis similique veniam dignissimos voluptatibus beatae culpa exercitationem necessitatibus libero aperiam.</p>
							<button href="" class="btn-lg btn-primary center-block">Saiba Mais</button>
							<img id="brand-mark" class="" alt="Brand" src="img/logo/logoVC.png">
							<p class="">2017 todos os direitos reservados</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- Faixa de separação -->
	<hr>
	<!--  services -->
		<section id="feature-two" class="feature-dark">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 center-block">
						<img class="img-circle" src="img/services/markus-spiske-139525.jpg" alt="">
						<h6>Something here</h6>
						<h2>Another thing goes here</h2>
						<p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda ipsam, rem fugit accusantium fugiat ea labore quam impedit.</p>
						<button href="" class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 btn-lg btn-success btn-custom-ss">Saiba Mais</button>
					</div>
					<div class="col-lg-4 center-block">
						<img class="img-circle" src="img/services/markus-spiske-139525.jpg" alt="">
						<h6>Something here</h6>
						<h2>Another thing goes here</h2>
						<p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda ipsam, rem fugit accusantium fugiat ea labore quam impedit.</p>
						<button href="" class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 btn-lg btn-success btn-custom-ss">Saiba Mais</button>
					</div>
					<div class="col-lg-4 center-block">
						<img class="img-circle" src="img/services/markus-spiske-139525.jpg" alt="">
						<h6>Something here</h6>
						<h2>Another thing goes here</h2>
						<p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda ipsam, rem fugit accusantium fugiat ea labore quam impedit.</p>
						<button href="" class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 btn-lg btn-success btn-custom-ss">Saiba Mais</button>
					</div>
			</div>
		</section>	
	<!-- Faixa de separação -->
	<hr>
	<!--  contact -->
		<section id="contact" class="feature-contact">
			<div id="contact-content">
				<div class="container">
					<div class=row>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xm-6"></div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xm-6">
							<form class="input-group" action="" method="">
								<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
								<input type="e-mail" class="form-control" placeholder="e-mail" aria-describedby="basic-addon1">
								<input type="text" class="form-control" placeholder="message" aria-describedby="basic-addon1">
								<a href="" class="btn btn-lg btn-success btn-custom-CBG">enviar</a>
							</form>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					        	<li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
					        	<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
					        	<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xm-3">
							<ul>
								<li><strong>Imagens:</strong></li>
								<li>Bucão</li>
								<li><strong>Texto</strong></li> 
								<li>Rafaela Tillier</li>
								<li><strong>Revisão</strong></li>
								<li>Refaela Tillier</li>
								<li>Eduardo Rocha</li>
								<li><strong>Design</strong></li>
								<li>Eduardo Rocha</li>
								<li><strong>Desenvolvimento</strong></li>
								<li>Eduardo Rocha</li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xm-3">
							<li>Street of the nature,
							Paris, France.
							000-00-000</li>

							<li>myemail@myemail.com.br</li>

							<li>whatsapp</li>
							<li>+ 00 00 0 0000-0000</li>

							<li>Oficial Pages</li>
							<li>Fb.com/myfacebookpage</li>
							<li>Yt.com/myyoutubechanel</li>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xm-3">
							<li>www.rafaelatillier.com.br</li>
							<li>Social mídias:</li>
							<li>@mypinterest</li>
							<li>@mytwitter</li>
							<li>@mysnapchat</li>
							<li>@myYouTubeC</li>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xm-3">
							<li>Partness:</li>
							<li>bucao.com</li>
							<li>imkto.com</li>
							<li>eddiestudio42</li>
							<li>Apoio:</li>
							<li>X</li>
							<li>Y</li>
							<li>Z</li>
						</div>
					</div>
				</div>	
			</div>
		</section>
    <script src="jquery/dist/jquery.min.js"></script>
	<script src="bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>