<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Rafaela Tillier</title>
	<!-- Library -->
		<!-- bootstrap -->
	    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	    <!-- fontAwesome -->
	    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	    <!-- Google fonts -->
	    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
	    <!-- flag-icon-css -->
	    <link href="flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
	<!-- custom css-->
	    <link href="css/languageSelector.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="public/css/landing.css"> -->
  </head>

  <body>
	<div id="hearder-landing">
		<img src="img/logo/logoHB.png" alt="">
		<ul class="inline">
			<li>
				<a class="btn btn-primary" href="/landing-PT"><span class="flag-icon flag-icon-br"></span> PT-BR</a>
			</li>
			<li> <div class="verticalLine"></div> </li>
			<li>
				<a class="btn btn-primary" href="/landing-PT"><span class="flag-icon flag-icon-us"></span> ENG</a>
			</li>
			<li><div class="verticalLine"></div></li>
			<li>
				<a class="btn btn-primary" href=""><span class="flag-icon flag-icon-fr"></span> FRC</a>
			</li>
		</ul>
  	</div>
  	<ul class="slideshow">
  		<li></li>
  		<li></li>
  		<li></li>
  		<li></li>
  		<li></li>
  	</ul>
  </body>

</html>
