<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Rafaela Tillier</title>
	<!-- Library -->
		<!-- bootstrap -->
	    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	    <!-- fontAwesome -->
	    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	    <!-- Google fonts -->
	    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
	<!-- custom css-->
	    <link href="css/stylesheets.css" rel="stylesheet">
	    <link href="css/navbar.css" rel="stylesheet">
	<!--     <link rel="stylesheet" href="public/css/landing.css"> -->
  </head>
  <body>
	<h1>Rafaela Tillier</h1>
	<p>Wellcome to my website</p>
	<p>please, chose your language</p>
	<a href="/">PT-BR</a>
	<a href="/">FR</a>
	<a href="">EN</a>

  </body>
</html>
