<% include partials/headerBlog %>

<div class="container">
	<h1>Create a new post</h1>
	<form action="/blog-PT" method="POST">
		<input type="text" placeholder="title">
		<input type="text" placeholder="image">
		<input type="text" placeholder="content">
	</form>
</div>

<% include partials/footerBlog %>