body {
    background-color: #000;
}

.btn-primary {
  color: #fff;
  font-weight: 700;
  background-color: rgba(255,255,255,0);
  border: 0px;
  border-radius: 1px;
  width: 100px;
}

.btn-primary:hover {
  color: #454f0c;
  background-color: rgba(255,255,255,0.6);
  border: 0px;
}

#hearder-landing {
    z-index: 2;
    position: relative;
    text-align: center;
    padding-top: 40vh;
    color: white; 
}

#hearder-landing ul li{
    list-style: none;
    display: inline-block;
    padding-top: 2rem;
}

.verticalLine {
    border-left: 1px solid #fff;
    height: 10px;
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 1;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url("../img/pictures/fundoHome00.jpg");
}


.slideshow li:nth-child(2) {
    background-image: url("../img/pictures/fundoHome01.jpg");
    animation-delay: 10s;
}

.slideshow li:nth-child(3) {
    background-image: url("../img/pictures/fundoHome02.jpg");
    animation-delay: 20s;
}

.slideshow li:nth-child(4) {
    background-image: url("../img/pictures/fundoHome03.jpg");
    animation-delay: 30s;
}

.slideshow li:nth-child(5) {
    background-image: url("../img/pictures/fundoHome04.jpg");
    animation-delay: 40s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

.no-cssanimations .slideshow li{{
    opacity: 1;
}

