.navbar-default {
  height: 60px;
}
.navbar-default .navbar-nav > li > a,
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 60px;
}
.navbar-form {
  margin-top: 22px;
}
 
/*cor do menu de navegação*/
.navbar-default {
    background-color: rgba(176,168,82,0.8);
    border: 0px;
    color: white;
    font-weight: 700;
    border-radius: 0px;
    z-index: 1;
    margin: 0;
}

#hamburguer {
    background-color: transparent;
}

/*quando o mouse passar por cima dos links*/
.navbar-default .navbar-nav>li>a:hover {
    color: #b0a852;
    background-color: transparent;
    z-index: 1;
}

/*cor dos links do menu de navegação*/
.navbar-default .navbar-nav>li>a {
    color: #f5f5f5;
    background-color: transparent;
}

/*Hamburguer color*/
.navbar-default .navbar-toggle {
    border-color: rgba(176,168,82,0.8);
}

/*Hamburguer border radius*/
.navbar-toggle {
    border-radius: 0px;
    margin: 13px;
}


/*Hamburguer dash color and dash color hover*/
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(96,89,29,0.8);
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 0px;
}
.navbar-default .navbar-toggle:hover {
    background-color: rgba(96,89,29,0.8);
}

#brandIconNavBar {
	width: 150px;
	padding: 0px;
	margin: 5px 12px;
}

.navbar-brand{
	padding: 0px;
	margin: 0px;
}

/* colapse earlier */

@media (min-width: 700px) and (max-width: 992px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

.dropdown-menu {
    background-color: rgba(176,168,82,0.8);
    border: 0px;
    color: white;
    font-weight: 700;
    border-radius: 0px;
    margin: 0;
}

/* animation when scrolling */
/*
.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background: rgb(68, 68, 68); //IE
    background: rgba(0, 0, 0, 0.78); //NON-IE
}*/